@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
	.cont{
		@apply rounded-2xl overflow-hidden min-h-[250px] bg-white/20 border-2 duration-100 border-transparent hover:border-gray-200;
	}
}

@layer base{
	button {
		@apply p-2 rounded-xl bg-white/20
	}
}


/*Hiding Scroll bar*/
body::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}